@use 'mat-toolbar.variables' as mat-toolbar;

/** STYLE **/

:host {
  display: flex;
  height: mat-toolbar.$mat-toolbar-height;
  background-color: mat-toolbar.$mat-toolbar-background-color;
  align-items: center;
  gap: 8px;
  padding: 0 8px;
}
