$mat-dual-ring-loader-size: var(--mat-dual-ring-loader-size, 60px);
$mat-dual-ring-loader-stroke-size: var(--mat-dual-ring-loader-stroke-size, calc(#{$mat-dual-ring-loader-size} * 0.1));
$mat-dual-ring-loader-color: var(--mat-dual-ring-loader-color, #bbb);
