@import './mat-grid.variables';



:host {
  display: block;
  position: relative;
  width: 100%;

  $container-width: 100%;
  $container-width-including-gap: calc(#{$container-width} + #{$mat-grid-horizontal-gap});

  $container-height: 100%;
  $container-height-including-gap: calc(#{$container-height} + #{$mat-grid-vertical-gap});
  $container-height-computed: calc((#{$container-width-including-gap} * (#{$mat-grid-rows} / #{$mat-grid-columns})) - #{$mat-grid-vertical-gap});

  $item-width-including-gap: calc(#{$container-width-including-gap} / #{$mat-grid-columns});
  $item-height-including-gap: calc((#{100%} + #{$mat-grid-vertical-gap}) / #{$mat-grid-rows});


  padding-bottom: $container-height-computed;
  overflow: hidden;

  & > * {
    position: absolute;
    overflow: hidden;

    $width: calc((#{$item-width-including-gap} * #{$mat-grid-item-width}) - #{$mat-grid-horizontal-gap});
    $left: calc(#{$item-width-including-gap} *  #{$mat-grid-item-left});

    $height: calc((#{$item-height-including-gap} * #{$mat-grid-item-height}) - #{$mat-grid-vertical-gap});
    $top: calc(#{$item-height-including-gap} * #{$mat-grid-item-top});

    left: $left;
    width: $width;
    height: $height;
    top: $top;
  }
}
