$mat-sidenav-container-content-background-color: var(--mat-sidenav-container-content-background-color, #fafafa);
$mat-sidenav-container-sidenav-background-color: var(--mat-sidenav-container-sidenav-background-color, #fff);
$mat-sidenav-container-sidenav-max-width: var(--mat-sidenav-container-sidenav-max-width, 300px);
$mat-sidenav-container-transition-duration: var(--mat-sidenav-container-transition-duration, 250ms);

