@use 'mat-button.variables' as mat-button;



/** STYLE **/

:host {
  display: inline-flex;
  position: relative;

  align-items: center;
  justify-content: center;
  gap: calc(#{mat-button.$mat-button-padding-x} * 0.5);
  padding: mat-button.$mat-button-padding-y mat-button.$mat-button-padding-x;

  border-width: 1px;
  border-style: solid;
  border-radius: 4px;

  font-family: mat-button.$mat-button-font-family;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;

  color: mat-button.$mat-button-color;
  fill: mat-button.$mat-button-color;
  background-color: mat-button.$mat-button-background-color;
  border-color: mat-button.$mat-button-border-color;

  appearance: none;
  text-decoration: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  &:not(:disabled, .mat--disabled, [disabled]) {
    cursor: pointer;
    transition: color mat-button.$mat-button-transition-duration,
    fill mat-button.$mat-button-transition-duration,
    background-color mat-button.$mat-button-transition-duration,
    border-color mat-button.$mat-button-transition-duration;

    &:focus-visible {
      color: mat-button.$mat-button-color--focused;
      fill: mat-button.$mat-button-color--focused;
      background-color: mat-button.$mat-button-background-color--focused;
      border-color: mat-button.$mat-button-border-color--focused;
    }

    @media (hover: hover) {
      &:hover {
        color: mat-button.$mat-button-color--hover;
        fill: mat-button.$mat-button-color--hover;
        background-color: mat-button.$mat-button-background-color--hover;
        border-color: mat-button.$mat-button-border-color--hover;
      }
    }
  }

  &:disabled,
  &.mat--disabled,
  &[disabled] {
    transition: all 0ms;
    cursor: default;
    color: mat-button.$mat-button-color--disabled;
    fill: mat-button.$mat-button-color--disabled;
    background-color: mat-button.$mat-button-background-color--disabled;
    border-color: mat-button.$mat-button-border-color--disabled;
  }
}
