$mat-progress-bar-color: var(--mat-progress-bar-color, #87c5fa);
$mat-progress-bar-text-color: var(--mat-progress-bar-text-color, #fff);
$mat-progress-bar-height: var(--mat-progress-bar-height, 20px);
$mat-progress-bar-border-color: var(--mat-progress-bar-border-color, #ccc);
