/** STYLE **/

:host {
  & > .mat-ripples-container {
    position: absolute;
    inset: 0;
    pointer-events: none;
    border-radius: inherit;

    &:not(:empty) {
      transform: translateZ(0);
    }
  }
}

:host(:not(.mat--unbounded)) {
  & > .mat-ripples-container {
    overflow: hidden;
  }
}

:host(:disabled) {
  & > .mat-ripples-container {
    display: none;
  }
}
