@import '../../../styles/mat.variables';

$mat-column-width: var(--mat-column-width, 300px);

$mat-column-gap: var(--mat-column-gap, 12px);
$mat-column-gap-vertical: var(--mat-column-gap-vertical, $mat-column-gap);
$mat-column-gap-horizontal: var(--mat-column-gap-horizontal, $mat-column-gap);

