@import 'mat-button.variables';



/** STYLE **/

:host {
  display: inline-block;
  appearance: none;
  padding: 0;
  cursor: pointer;
  position: relative;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;

  color: $mat-button-color;
  background-color: $mat-button-background-color;
  border-color: $mat-button-border-color;
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  & > mat-ripple {
    & > .content {
      display: inline-flex;
      align-items: center;
      gap: calc(#{$mat-button-horizontal-padding} * 0.5);
      padding: $mat-button-vertical-padding $mat-button-horizontal-padding;
      //font-family: inherit;
      //font-size: 16px;
      //text-transform: uppercase;

      font-family: $mat-button-font-family;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;

      & > svg {
        fill: #{$mat-button-color};
      }
    }

    & > .ripples-container  {
      border-radius: 4px;
    }
  }


  &:not(:disabled) {
    transition: color $mat-button-transition-duration,
    background-color $mat-button-transition-duration,
    border-color $mat-button-transition-duration;

    &:focus-visible {
      color: $mat-button-color-focused;
      background-color: $mat-button-background-color-focused;
      border-color: $mat-button-border-color-focused;

      & > mat-ripple {
        & > .content {
          & > svg {
            fill: #{$mat-button-color-focused};
          }
        }
      }
    }

    @media (hover: hover) {
      &:hover {
        color: $mat-button-color-hover;
        background-color: $mat-button-background-color-hover;
        border-color: $mat-button-border-color-hover;

        & > mat-ripple {
          & > .content {
            & > svg {
              fill: #{$mat-button-color-hover};
            }
          }
        }
      }
    }
  }

  &:disabled {
    transition: all 0ms;
    cursor: default;
    color: $mat-button-color-disabled;
    background-color: $mat-button-background-color-disabled;
    border-color: $mat-button-border-color-disabled;

    & > mat-ripple {
      & > .content {
        & > svg {
          fill: #{$mat-button-color-disabled};
        }
      }
    }
  }
}
