@import 'mat-toolbar-container.variables';

/** STYLE **/

:host {
  display: block;
  position: absolute;
  inset: 0;
  overflow: hidden;
  background-color: $mat-toolbar-container-content-background-color;

  & > * {
    position: absolute;
    left: 0;
    right: 0;
  }

  & > .toolbar {
    height: $mat-toolbar-container-toolbar-height;

    & > * {
      height: 100%;
    }
  }

  & > .content {
    overflow: auto;
  }

  &.mat-position-top {
    & > .toolbar {
      top: 0;
    }

    & > .content {
      top: $mat-toolbar-container-toolbar-height;
      bottom: 0;
    }
  }

  &.mat-position-bottom {
    & > .toolbar {
      bottom: 0;
    }

    & > .content {
      top: 0;
      bottom: $mat-toolbar-container-toolbar-height;
    }
  }
}
