@import 'mat-ripple.variables';

//$mat-ripple-color: var(--mat-ripple-color, red);


/** STYLE **/

:host {
  display: inline-block;
  position: relative;

  & > .ripples-container {
    position: absolute;
    inset: 0;
    pointer-events: none;

    &:not(:empty) {
      transform: translateZ(0);
    }
  }

  &:not(.mat-unbounded) {
    & > .ripples-container {
      overflow: hidden;
    }
  }
}
