@use 'mat-dialog-close.variables' as mat-dialog-close;

/** STYLE **/

:host {
  display: block;
  margin: mat-dialog-close.$mat-dialog-close-offset mat-dialog-close.$mat-dialog-close-offset mat-dialog-close.$mat-dialog-close-offset auto;

  --mat-button-color: #{mat-dialog-close.$mat-dialog-close-color};
  --mat-button-color--hover: #{mat-dialog-close.$mat-dialog-close-color--hover};
  --mat-button-background-color--hover: transparent;
}
