@use '../../../../../../../../../../../styles/mat-global.variables' as mat-global;

$mat-dialog-title-font-weight: var(--mat-dialog-title-font-weight, 500);
$mat-dialog-title-font-size: var(--mat-dialog-title-font-size, 20px);
$mat-dialog-title-font-family: var(--mat-dialog-title-font-family, mat-global.$mat-font-family);
$mat-dialog-title-color: var(--mat-dialog-title-color, rgb(0 0 0 / 0.87));

