@use 'mat-dialog-title.variables' as mat-dialog-title;

/** STYLE **/

:host {
  display: block;
  font-weight: mat-dialog-title.$mat-dialog-title-font-weight;
  font-size: mat-dialog-title.$mat-dialog-title-font-size;
  font-family: mat-dialog-title.$mat-dialog-title-font-family;
  color: mat-dialog-title.$mat-dialog-title-color;
}
