@use './mat-progress-ring.variables' as mat-progress-ring;

:host {
  display: inline-block;

  & > svg > circle {
    stroke: mat-progress-ring.$mat-progress-ring-color;
    transition: stroke-dashoffset mat-progress-ring.$mat-progress-ring-color;
  }
}
