$mat-tooltip-background-color: var(--mat-tooltip-background-color, #fff);
$mat-tooltip-color: var(--mat-tooltip-color, #333);

// private
$mat-tooltip-shadow-size: 6px;
$mat-tooltip-shadow-color: rgb(0 0 0 / 0.15);

$mat-tooltip-arrow-size: 10px;
$mat-tooltip-arrow-offset-cross-axis: 24px;


