@use 'mat-scrollbar.variables' as mat-scrollbar;

/** STYLE **/

:host {
  overflow: auto;

  &::-webkit-scrollbar {
    width: mat-scrollbar.$mat-scrollbar-thickness;
    height: mat-scrollbar.$mat-scrollbar-thickness;
  }

  &::-webkit-scrollbar-track {
    background-color: mat-scrollbar.$mat-scrollbar-track-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: mat-scrollbar.$mat-scrollbar-thumb-color;
  }

  scrollbar-color: mat-scrollbar.$mat-scrollbar-thumb-color mat-scrollbar.$mat-scrollbar-track-color;
  //scrollbar-width: thin;
}

