$mat-scrollbar-thickness: var(--mat-scrollbar-thickness, 4px);
$mat-scrollbar-track-color: var(--mat-scrollbar-track-color, transparent);
$mat-scrollbar-thumb-color: var(--mat-scrollbar-thumb-color, #eee);

