// private
$mat-floating-x: var(--mat-floating-x, 0);
$mat-floating-y: var(--mat-floating-y, 0);
$mat-floating-max-width: var(--mat-floating-max-width, none);
$mat-floating-max-height: var(--mat-floating-max-height, none);
