@use 'mat-icon-button.variables' as mat-icon-button;

/** STYLE **/

:host {
  gap: mat-icon-button.$mat-icon-button-padding;
  padding: mat-icon-button.$mat-icon-button-padding;

  border-width: 0;
  border-radius: calc(#{mat-icon-button.$mat-icon-button-padding} + (#{mat-icon-button.$mat-icon-button-icon-size} * 0.5));

  font-size: 0;

  & > svg {
    width: mat-icon-button.$mat-icon-button-icon-size;
    height: mat-icon-button.$mat-icon-button-icon-size;
  }
}
