$mat-menu-item-color: var(--mat-menu-item-color, #333);
$mat-menu-item-background-color: var(--mat-menu-item-background-color--hover, #fff);


$mat-menu-item-color--hover: var(--mat-menu-item-color--hover, $mat-menu-item-color);
$mat-menu-item-background-color--hover: var(--mat-menu-item-background-color--hover, #eee);

$mat-menu-item-color--focused: var(--mat-menu-item-color--focused, $mat-menu-item-color);
$mat-menu-item-background-color--focused: var(--mat-menu-item-background-color--focused, #ddd);


